html {
  box-sizing: border-box;
}
*, *:before, *after {
  box-sizing: inherit;
}
body {
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(168,231,245,0.8925945378151261) 0%, rgba(75,182,204,0.7861519607843137) 76%);

}
  .about {
background: #ffffff;
  }
  .about__link {
    color: #92140c;
  }
  .about__picture{
    display: block;
    max-width: 100%;
  }
  
}
footer {
  color: #fc0000;}
  
  .header {
    background: #ffffff;
    min-height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
  }
}
.main__header {
  color: #CA3C25;
}
.hot-pink2 {
      color: #2c1bc0;
  }

#top {
  background: #ffffff;
}


nav a {
  color: rgb(255, 255, 255);
}

.box{
    background: #4D8background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(16,121,9,0.8925945378151261) 35%, rgba(0,212,255,1) 100%);B31;
    display: inline-block;
    min-width: 100%;
    height: 100px;
    padding: 15px;
    border: 3px solid black;
    border-radius: 400px;
    margin: 10px 0;
    box-sizing: border-box
    z-index: 5000

}
.sticky {
  display: flex;
  justify-content: space-around;
  position: sticky;
  padding: 10px;
  border: 10px;
  border-radius: 30px 30px 30px 30px;
    margin: 10px;
    height: 30px;
    color: #ffffff;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    z-index: 1000
}


    .fixed {
        padding: 10px;
    border: 10px solid black;
    margin: 10px;
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
        position: fixed;
        color: yellow;
       
        
    }

    .dlaczego_programowanie{
        padding: 16px;
    }

    .dlaczego_programowanie-odp1 {
height: 50px;
width: 200px;
border-radius: 30%;
color: #1651a8;
    }
    .dlaczego_programowanie-odp2 {
background: #ff292948;
padding: 16px;

    }

    .header-two {
      background: #ffffff;
        padding: 16px;
        color: #1651a8;
        margin-bottom: 5px;
      }
      
      .section {
        background: #fff;
      }

      .section2 {
        background: #fff;
      }

      .tabletitle {
        color: #4D8B31;

      }
    
      .tabletitle::before {
content: "";
display: inline-block;
width: 12px;
height: 12px;
margin-right: 5px;
margin-left: 5px;
border-radius: 50%;
background: tomato;
      }
      
     


      .hotgreen {
        padding: 10px;
        
        color: #4D8B31;
      }

      .ostatnia-linijka {
        padding: 48px;
        border: 10px #cccccc solid;
        color: #4D8B31;
      }

      .main {
          max-width: 1000px;
          margin: 60px auto 0;
      }
    

.list {
  list-style-type: square;
}
.firstColumn {
  border: 3px solid #92140c;
}
.secondColumn {
  border: 3px double #6d605fd8;
}
.thirdColumn {
  border: 3px  #9b9062d8;
  border-style: dashed;
}

 .table {
   margin: 10px;
  width: 100%;
  text-align: center;
 }

 .klasa__z--js {
   background: yellow;
  
 }
 .hamburger {
   position: absolute;
   top: 20px;
   right: 10px;
   border: none;
   background: none;
 }

 .navigation {
   padding: 16px;
   display: none;
}
.navigation--open {
  display: block;
}
  
  .navigation__link {
    color: darkorange;
    display: block;
    margin: 0 0 16px;

  }


@media (min-width: 768px) {
  .hamburger {
    display: none; }
  
    .grid {
      background: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px; }

  .navigation {
    padding: 10px;
    margin-top: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    height: 5px;
    align-items: center; }

  }



}


