body {
  background: #ffffff;
}
footer {
  color: #fc0000;
}
.hot-pink {
  color: #CA3C25;
}
.hot-pink2 {
      color: #2c1bc0;
  }

}

#top {
  background: #ffffff;
}


nav a {
  color: rgb(255, 255, 255);
}

.box{
    background: #4D8B31;
    display: inline-block;
    min-width: 100%;
    height: 100px;
    padding: 15px;
    border: 3px solid black;
    border-top-right-radius: 5%;
    margin: 10px 0;
    box-sizing: border-box
    z-index: 5000

}
.sticky {
    position: sticky;
    right: 1px;
    top: 30px;
    color: #ffffff;
    background:  #4D8B31
    z-index: 1000
}


    .fixed {
        padding: 10px;
    border: 1px solid black;
    margin: 1px;
    background: #4D8B31;
        position: fixed;
        right: 3%;
        top: 19px;
        color: yellow;
        background: #ffffff
        width: 100%;
        height: 16px;
        z-index: 1000;
    }

    .dlaczego_programowanie{
        padding: 16px;
    }

    .dlaczego_programowanie-odp1 {
height: 50px;
width: 200px;
border-radius: 30%;
color: #1651a8;
    }
    .dlaczego_programowanie-odp2 {
background: #1E212B;
a:link {color: ;}
		a:visited {color: rgb(255, 255, 255);}
		a:active {color: rgb(241, 0, 0);}

    }

    .header-two {
        padding: 16px;
        border: 1px #cccccc solid;
        color: #4D8B31;
        margin-bottom: 15px;
      }
      
      
     


      .hotgreen {
        padding: 32px;
        border: 5px #cccccc solid;
        color: #4D8B31;
      }

      .ostatnia-linijka {
        padding: 48px;
        border: 10px #cccccc solid;
        color: #4D8B31;
      }

      .main {
          max-width: 1000px;
          margin: 0 auto;
      }